<div id="footer">
    <div id="info">
        <h4>Reach out</h4>
        <p>1000 N 4th St.</p>
        <p>Fairfield, IA - 52557</p>
    </div>
    <div id="links">
        <h4>Categories</h4>
            <p><a href="/">Living Room</a></p>
            <p><a href="/">Dining Room</a></p>
            <p><a href="/">Bedroom</a></p>
            <p><a href="/">Accessories</a></p>
    </div>
    <div id="external">
        <h4>Useful links</h4>
        <p><a href="/contact">Contact Us</a></p>
        <p><a href="http://www.google.com">Google!</a></p>
        <p><a href="http://www.amazon.com">Amazon.</a></p>
    </div>
</div>