<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8"/>
   <title>Cookie Form</title>
  </head>
  <body>
    <h1>Cookie Added:</h1>
    <p>Key: <%= key %></p>
    <p>Value: <%= value %></p>

  </body>
</html>